
body{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	background: url(../img/bg.jpg);
	background-size: cover;
	background-repeat-x: no-repeat;
	background-repeat-y: repeat;
}
.mt_3{
	margin-top:0.25rem;
}
.wrap{
	width:100%;
	position: relative;
	z-index: 1;
}
.logo{
	width: 3.5rem;
    height: 2rem;
    line-height: 1rem;
    text-align: center;
    position: absolute;
    left: 0.6rem;
    top: 0.65rem;
    z-index: 2;
	
}
.logo img{
	width:100%;
}
.content{
	width:100%;
	padding-top:3rem;
	
}
.content .banner{
	width:70%;
	margin:0 auto;
	
}
.content .banner img{
	width:100%;
}
.log{
	width: 80%;
    margin: 1rem auto;
    height: 23rem;
    border: 2px dashed #fff;
    border-radius: 0.05rem;
    padding: 0.5rem;
}


.log_in{
	border:2px dashed #ccc;
	border-radius: 0.05rem;
	height:22.2rem;
	padding-top:0.5rem;
}
.log_in ul{
	width:90%;
	margin:0 auto;
	text-align: center;
}
.log_in ul li{
	/*display: inline-block;*/
	float:left;

	margin:0;
	padding:0;
}
/*.data,.withDraw{
	width:.8rem;
	height:1.5rem;
	position: relative;
}*/
.regisiter,.corect,.withDraw{
	width:30%;
	
}
.regisiter img,.corect img,.withDraw img{
	width:60%;
}
.user_regit{
	font-size: 0.5rem;
	color:#fff;
	margin-left:0.2rem;
}
.log_in ul li.arrow{
	padding-top: 0.4rem;
    width: 5%;
}
.arrow img{
	width:90%;
}
/*.user_regit,.write_data,.pay{
	display: inline-block;
	width:1.6rem;
	font-size: .2rem;
	color:#ccc;
	position: absolute;
	top:1.5rem;
	left:-0.1rem;
	font-weight: 600;
}*/
/*.corect,.data .write,.withDraw .corect_pay{
	width:15%;
	margin-right:5px;
}*/

/*ipone6*/
/*@media screen and (min-device-width:375px) and (max-device-width:414px){
	.user_regit,.write_data,.pay{
		left:-0.3rem;
	}
}
/*ipone5*/
/*@media screen and (max-device-width:320px){
	.user_regit,.write_data,.pay{
		left:-0.4rem;
	}
}*/
/*提示错误信息*/
#cont{
	position: absolute;
    font-size: 0.8rem;
    top: 30%;
    left: 31%;
    z-index: 1000;
    display: none;
   	background:rgba(0,0,0,0.8);
   	padding:0.5rem;
   	color:#fff;
   	border-radius: 0.2rem;
}
.input_tel,.input_identify,.input_password{
	width:95%;
	margin:1rem auto;
	position: relative;
	z-index: 2;
	overflow: hidden;
}
.input_identify{
	margin-top:1.6rem;
}
.input_password{
	margin-top:1.5rem;
}
.mt_5{
	margin-top:-0.5rem;
}
.input_tel .tel{
	position: absolute;
	width:0.8rem;
    left: 0.3rem;
    top:15%;

    z-index: 5;
}
.input_identify .identify{
	position: absolute;
	width:0.8rem;
    left: 0.3rem;
    top: 36%;
    margin-top:-0.15rem;
    z-index: 5;
}
.input_password .pwd{
	position: absolute;
    width: 0.8rem;
    left: 0.3rem;
    top: 22%;
    margin-top: 0.13rem;
    z-index: 5;
}
.input_tel input,.input_password input, .input_identify input{
	width:100%;
	font-size: 0.8rem;
	height:1.8rem;
	text-indent: 2em;
	border-radius: .2rem;
}
.input_identify input.code{
	width:60%;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	float:left;
	display:inline-block;
}
.input_identify #sendcode{
	text-indent: 0;
	width:40%;
	display: inline-block;
	color: #fff;
    font-size: 0.7rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    background: rgb(255,158,0);
    -webkit-appearance: none;
	position: absolute;
	top:0;
	border-bottom-right-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.numCode{
	float: left;
    width: 40%;
    height: 1.8rem;
    font-family: Arial;
    text-align: right;
    -webkit-appearance: none;
}
.numCode img{
	width:90%;
}
.changeCode{
	color:red;
	font-size: 0.3rem;
	margin-top:-0.7rem;
	margin-right:0.5rem;
	float:right;
}
.regt{
	width:95%;
	margin:0 auto;
}
.regt input{
	color:#fff;
	width: 100%;
    font-size: 1rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    border-radius: .2rem;
    letter-spacing: 0.1rem;
    background: rgb(255,158,0);
    -webkit-appearance : none ;
    
    
}

.deal{
	    width: 95%;
    /* margin: 0.1rem auto; */
    /* position: relative; */
    padding-top: 0.3rem;
    padding-left: 0.3rem;
}
.deal p{
}
.deal p img{
	width: 0.8rem;
    height: 0.8rem;
    margin-right:0.3rem;
}
.agreeDeal{
	    color: #fff;
    font-size: 0.8rem;
}
.forbdin{
	text-align: center;
    width: 80%;
    margin: 0 auto;
}
.forbdin p{
	color: #fff;
    font-size: 0.3rem;
    margin-top: 0.6rem;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(187,187,187); opacity:1; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(187,187,187);opacity:1;
}

input:-ms-input-placeholder{
    color: rgb(187,187,187);opacity:1;
}

input::-webkit-input-placeholder{
    color: rgb(187,187,187);opacity:1;
}
/*零用宝优势*/
.advanstage{
	width:80%;
	margin:0 auto;
	height:15rem;
	border:2px dashed #fff;
	border-radius: 0.1rem;
	padding: 0.5rem;
}
.ad_in{
	height:14.8rem;
	border:2px dashed #ccc;
	border-radius: 0.1rem;
	position: relative;
}
.title_advanstage{
	height: 2rem;
	line-height:2rem;
    margin: 1rem auto;
    color: #fff;
    font-size: 0.8rem;
    background: url(../img/lending.png) no-repeat center center;
    background-size: 90%;
    position: relative;
    text-align: center;
}
.ad_ling{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -8.5%;
}
.ad_pro{
	position: absolute;
    left: 0.5rem;
	
}
.ad_pro li{
	height:2rem;
	margin-bottom:1rem;
}
.ad_pro li img{
	width:0.6rem;
	
}
.fast_approve{
	color:#fff;
	font-size: 0.8rem;
	margin-left:0.5rem;
	
}
.submitData{
	color:#fff;
	font-size: 0.6rem;
	margin-left:1rem;
	margin-top:0.4rem;
}
.info{
	color:#fff;
	font-size: 0.5rem;
	width:100%;
	margin:0 auto;
	position: absolute;
	top:86%;
	left:0.5rem;
}
/*@media screen and (max-device-width: 320px) {
	.info{
	color:#fff;
	font-size: 0.3rem;
	width:100%;
	margin:0 auto;
	position: absolute;
	top:85%;
	left:0.2rem;
}
}*/
.lending{
	width: 80%;
    margin: 0 auto;
    height: 15rem;
    border: 2px dashed #fff;
    border-radius: 0.1rem;
    padding: 0.5rem;
    margin-top:1rem;
}
.lending_in{
	border: 2px dashed #ccc;
    border-radius: 0.1rem;
    height: 14.8rem;
}
.title_lending{
	height: 2rem;
	line-height:2rem;
    margin: 1rem auto;
    color: #fff;
    font-size: 0.8rem;
    background: url(../img/lending.png) no-repeat center center;
    background-size: 90%;
    position: relative;
    text-align: center;
}
.lending_invset{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -8.5%;
}
.lend_money{
	color:#fff;
	font-size: 0.8rem;
	width:90%;
	margin:0 auto;
	
}
.lend_money p{
	height: 2rem;
    line-height:2rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5rem;
    text-align: center;
    position: relative;
}
.invest_month{
	position: absolute;
	left:30%;
}

.lend_money p strong{
	font-weight: 800;
}
.fast_lending{
	display: inline-block;
	margin-top:0.1rem;
	width:5rem;
	color:#fff;
	height: 1.5rem;
    line-height: 1.5rem;
 	text-align: center;
 	background: rgb(255,159,0);
 	border-radius: 0.2rem;
}
footer{
	display: block;
	margin-top:0.5rem;
	color:#fff;
	font-size: 0.5rem;
	text-align: center;
}
footer p{
	margin-bottom: 0.3rem;
}
#goToTop{
	position: fixed;
	bottom: 50px;
	right:0;
	color:#ccc;
	font-size: 0.3rem;
	z-index: 999;
}
.color_orange{
	color:rgb(255,159,0)
}
